        </div><!-- /.container -->
        <footer class="footer">
          <div class="container">

            <div id="copyright" class="container">
            <p class="text-muted">&copy; Quickru 2021 | <a href="/orders">Главная</a> | <a href="/orders/new">Новое объявление </a> | <a href="/policy">Политика конфеденциальности</a></p>
            <!-- <h5 class="text-muted">&copy; Design by: <a  href="http://vk.com/Im_Alek" rel="nofollow">Λl≡k</a></h5> -->
            
            
            
          <div id="copyright" class="container"></div>
            
          

    
        </footer>
        
        
    </body>
</html>

