
<% include ./partials/header %>



<div id="wrapper">
	<div class="box-wrapper">
			<div class="wrapper-title">
				<h2>Немного нас</h2>
                <span id="ct"><a>Наш проект QuickRU,</a></span>
            </div>
            <div id="cb">
                <h3>Был создан с целью помочь получить опыт
                людям, начинающим свой путь в сфере фриланса. Для тех людей, кто хочет 
                немного подзаработать на своих знаниях, и для тех кто не против поддержать 
                начинания юных дарований монетой и взамен получить готовый проект.</h3>
                <p></p>
            <h3>В последнее время удалённая работа привлекает к себе почти всех 
                людей "поколения Z". И это понятно, ведь каждый хочет получать
                деньги, работая из дома или "на пляже". К сожалению, чаще всего 
                это так и остаётся в мечтах и такой жизни для себя могут добиться лишь еденицы.</h3> 
                <p></p>
                <h3>Мы уверены, что наш небольшой проект станет отправной точкой для таких мечтателей.</h3>  
                <p></p>
            <h3>Мы счастливы видеть вас на нашем сайте <a id="ct">QuickRU</a>. Мы выслушаем пожелания и отзывы о проекте.
                Уделим внимание всем вашим замечаниям и предложениям. Присылайте их нам, мы всё исправим.</h3>
                <p></p>
            <h2>Пусть ваш путь во фрилансе будет успешен,</h2>
                <h2>и конечно же, начнётся именно здесь!</h2> 
            <p></p>
            <h5> <a id="ct">QuickRU</a> Copyright © 2021 </div>
        
    </div>
</div>

<% include ./partials/footer %>

