<% include ./partials/header %>


<!-- Wrapper customer -->
<div id="wrapper">
	<div class="box-wrapper">
			<div class="wrapper-title">
                
                <h2>Уважаемы заказчики.</h2>
                <h3>Приветствуем вас на <a id="ct">QuickRU</a>
            </div>
                <div id="cb">
                <span><h3><a id="ct">QuickRU</a>, проект посвященный удаленной работе (фрилансу).</h3></span>
                    <h3>Если у вас есть идея и вы ищите исполнителя для её осуществления, то мы поможем вам в этом.</h3>
                    <h3>Вы можете заказать проект или разместить заказ.</h3>
                    <h3>У вас есть возможность найти работодателя, ознакомившись с заказом, находящемся в основной части страницы,</h3>
                    <h3>выбрав в нем нужную вам специализацию и категорию.</h3>
                    <h3>Обратите внимание, что когда выставите заказ, вы можете изменить его в любое время, </h3>
                    <h2>Убедитесь в достоверности указанных контактов!</h2>
                    <h4 id="ct">Надеемся на удачное и продолжительное сотрудничество.</h4>
                    <h5> <a id="ct">QuickRU</a> Copyright © 2021 by <a id="ct">Custom</a> team.</h5>
                </div>
            </div>
        </div>


<% include ./partials/footer %>